* {
    background-color: aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 0px;
    margin: 0px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.button {
    background-color: blueviolet;
    font-size: 32px;
    color: white;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 32px;
    font-weight: bold;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 18px;
}